ul {
  list-style-type: none;

  margin: auto;
}

li {
  cursor: pointer;
}

.addButton {
  display: inline;
  color: aliceblue;
  cursor: pointer;
}
.itemsBox {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(100, 100, 255);
  padding: 20px;
  border-radius: 5px;
}

.sectionBox {
  background-color: #ececec;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  padding: 20px;
}

.productSectionBox {
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(167, 167, 255);
  padding: 20px;
  border-radius: 5px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
